<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Calculadora" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>

<StackLayout class="cuerpo">
    <StackLayout class="pantalla">
    <Label text="0" class="txt-res"></Label>
    </StackLayout>

    <StackLayout>
        <StackLayout orientation="horizontal">
            <Button text="7" class="btn-button"></Button>
            <Button text="8" class="btn-button"></Button>
            <Button text="9" class="btn-button"></Button>
            <Button text="x" class="btn-button"></Button>
        </StackLayout>

        <StackLayout orientation="horizontal">
            <Button text="4" class="btn-button"></Button>
            <Button text="5" class="btn-button"></Button>
            <Button text="6" class="btn-button"></Button>
            <Button text="-" class="btn-button"></Button>
        </StackLayout>

        <StackLayout orientation="horizontal">
            <Button text="1" class="btn-button"></Button>
            <Button text="2" class="btn-button"></Button>
            <Button text="3" class="btn-button"></Button>
            <Button text="+" class="btn-button"></Button>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Button text="0" class="cero"></Button>
            <Button text="/" class="btn-button"></Button>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Button text="-" class="after"></Button>
            <Button text="CE" class="after"></Button>
        </StackLayout>
    </StackLayout>
</StackLayout>