
<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Logín" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>


<FlexboxLayout class="">
  <StackLayout class="frm">
  
  <Label class="header1" text="cSecurity"></Label>
  <Image class="nt-drawer__header-image fas t-60" src="font://&#xf2bd;"></Image>

  <StackLayout class="input-field">
      <TextField hint="Correo electrónico" 
            class="input"
            
           [(ngModel)]='this.model.email'
           
           >
           </TextField>
  </StackLayout>

  <StackLayout class="input-field">
          <TextField hint="Contraseña" 
            class="input"
            
            [(ngModel)]='this.model.password'
            secure="true"
           >
           </TextField>
  </StackLayout>

  <Button text="Acceder" (tap)="auth()" class="btn btn-primary"></Button>

  
   
  </StackLayout>

</FlexboxLayout>