
<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Logín" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>


<FlexboxLayout class="page">
  <StackLayout class="form">
  
  <Label class="header1" text="cSecurity"></Label>
  <Image class="nt-drawer__header-image fas t-60" src="font://&#xf2bd;"></Image>

  <StackLayout class="input-field">
      <TextField hint="Correo electrónico" 
            class="input"
            
           [(ngModel)]='this.model.email'
           
           >
           </TextField>
  </StackLayout>

  <StackLayout class="input-field">
          <TextField hint="Contraseña" 
            class="input"
            
            [(ngModel)]='this.model.password'
            secure="true"
           >
           </TextField>
           <StackLayout *ngIf="!isLoggingIn" class="input-field">
              <TextField class="input" hint="Confirm password" ...></TextField>
           </StackLayout>

          <Button [text]="isLoggingIn ? 'Log In' : 'Sign Up'" (tap)="submit()" class="btn-primary"></Button>
           <Label (tap)="forgotPassword()" *ngIf="isLoggingIn" text="Forgot your password?" class="forgot"></Label>
  </StackLayout>
  </StackLayout>

  <Label (tap)="toggleForm()" class="footer">
    <FormattedString>
      <Span [text]="isLoggingIn ? 'Don’t have an account? ' : 'Back to Login'"></Span>
      <Span [text]="isLoggingIn ? 'Sign up' : ''" class="bold"></Span>
    </FormattedString>
  </Label>



</FlexboxLayout>