<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Restablecer contraseña" colSpan="2"></Label>
    </GridLayout>
</ActionBar>


<FlexboxLayout class="page">
  <StackLayout class="form">
  
    <Label class="header1" text="cSecurity"></Label>
    <Image class="nt-drawer__header-image fas t-60" src="font://&#xf2bd;"></Image>

    
    <StackLayout class="input-field">
            <TextField hint="Correo electrónico" 
                    class="input"          
                [(ngModel)]='this.model.email'          
                >
                </TextField>
        </StackLayout>


        <Button  (tap)="resetPassword()" class="btn-primary" text="Restablecer contraseña"></Button>

  </StackLayout>

   <Label  class="footer" (tap)="login1()">
    <FormattedString>
        <Span text="Ya tengo una cuenta  "  ></Span> 
      <Span text="Iniciar sessión" class="bold" ></Span>
    </FormattedString>
    
  </Label>



</FlexboxLayout>