<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
  <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
    <StackLayout row="0" class="nt-drawer__header">
      <Image class="nt-drawer__header-image fas t-36" src="https://avatars.githubusercontent.com/u/65685992?v=4"></Image>
      <Label class="nt-drawer__header-brand" text="Karlin"></Label>
      <Label class="nt-drawer__header-footnote" text="karlinkd010@gmail.com"></Label>
    </StackLayout>

    <ScrollView row="1" class="nt-drawer__body">
      <StackLayout>
        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/home')"
          (tap)="onNavItemTap('/home')">
          <Label col="0" text="&#xf015;" class="nt-icon fas"></Label>
          <Label col="1" text="Home" class="p-r-10"></Label>
        </GridLayout>
        
        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/calculadora')"
          (tap)="onNavItemTap('/calculadora')">
          <Label col="0" text="&#xf1ec;" class="nt-icon fas"></Label>
          <Label col="1" text="Calculadora" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/login')"
          (tap)="onNavItemTap('/login')"
        >
          <Label col="0" text="&#xf2f6;" class="nt-icon fas"></Label>
          <Label col="1" text="login " class="p-r-10"></Label>
        </GridLayout>

        
        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/inf-user')"
          (tap)="onNavItemTap('/inf-user')"
        >
          <Label col="0" text="&#xf007;" class="nt-icon fas"></Label>
          <Label col="1" text="Perfil" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/browse')"
          (tap)="onNavItemTap('/browse')">
          <Label col="0" text="&#xf14d;" class="nt-icon fas"></Label>
          <Label col="1" text="Share TEXT" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/search')"
          (tap)="onNavItemTap('/search')">
          <Label col="0" text="&#xf002;" class="nt-icon fas"></Label>
          <Label col="1" text="Practica 2" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/featured')"
          (tap)="onNavItemTap('/featured')"
        >
          <Label col="0" text="&#xf005;" class="nt-icon fas"></Label>
          <Label col="1" text="Practica 3" class="p-r-10"></Label>
        </GridLayout>


        

        <StackLayout class="hr"></StackLayout>

        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/settings')"
          (tap)="onNavItemTap('/settings')">
          <Label col="0" text="&#xf013;" class="nt-icon fas"></Label>
          <Label col="1" text="Opciones" class="p-r-10"></Label>
        </GridLayout>


        
        <GridLayout  columns="auto, *"

 
           class="nt-drawer__list-item"
           [class.-selected]="isComponentSelected('/')"
          (tap)="close()">
          <Label col="0" text="&#xf2f5;" class="nt-icon fas"></Label>
          <Label col="1" text="Cerrar sessión" class="p-r-10"></Label>
        </GridLayout>




      </StackLayout>
      
    </ScrollView>
  </GridLayout>

  <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>
