<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="ShareTEXT" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>


<FlexboxLayout class="">
  <StackLayout class="frm">
  
  <Label class="header1" text="Share TEXT "></Label>
  <Image class="nt-drawer__header-image fas t-60" src="font://&#xf14d;"></Image>

  <StackLayout class="input-field">
      <TextField hint="Asunto" 
            class="input"
            [(ngModel)]="a"
           
           >
    </TextField>
  </StackLayout>

  <StackLayout class="input-field">
          <TextField hint="Texto" 
            class="input"
            [(ngModel)]="b"
           >
    </TextField>
  </StackLayout>

  <Button text="Enviar" class="btn btn-primary" (tap)="send()"></Button>

  
   
  </StackLayout>

</FlexboxLayout>

