
<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Operaciones Basicas" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>


<FlexboxLayout class="page">
  <StackLayout class="form">
  
  <Label class="header" text="Operaciones Básicas"></Label>

  <StackLayout class="input-field">
    <TextField class="input"  keyboardType="number" [(ngModel)]="numero1" ></TextField>
  </StackLayout>

  <StackLayout class="input-field">
    <TextField class="input"  keyboardType="number" [(ngModel)]="numero2" ></TextField>
  </StackLayout>

  <Button text="Multiplicación" (tap)="onButtonClick()" class="btn btn-primary"></Button>
  <Button text="División" (tap)="onButtonClick1()" class="btn btn-primary"></Button>
  <Button text="Suma" (tap)="onButtonClick2()" class="btn btn-primary"></Button>
  <Button text="Resta" (tap)="onButtonClick3()" class="btn btn-primary"></Button>
  
   
  </StackLayout>

</FlexboxLayout>