
<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Operaciones Basicas" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>


<FlexboxLayout class="page">
  <StackLayout class="form">
  
  <Label class="header" text="Operaciones Básicas"></Label>

  <StackLayout class="input-field">
    <TextField class="input"  keyboardType="number" [(ngModel)]="numero1" ></TextField>
  </StackLayout>

  <StackLayout class="input-field">
    <TextField class="input"  keyboardType="number" [(ngModel)]="numero2" ></TextField>
  </StackLayout>

  <Button text="Suma" id="btn-suma" (tap)="onTap($event)" class="btn btn-primary"></Button>
  <Button text="Resta" id="btn-resta"  (tap)="onTap($event)" class="btn btn-primary"></Button>

  <Button text="Multiplicación" id="btn-multi"  (tap)="onTap($event)" class="btn btn-primary"></Button>
  <Button text="División" id="btn-divi"  (tap)="onTap($event)" class="btn btn-primary"></Button>

  
   
  </StackLayout>

</FlexboxLayout>